<!doctype html>
<html lang="en">
<head>
  <link href='http://fonts.googleapis.com/css?family=Playfair+Display+SC:400,700' rel='stylesheet' type='text/css'>
  <meta charset="UTF-8">
  <title>Broadway.ly, yo!</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <div class="header">
    <div class="logo_border">
      <div class="logo">
        <a href="/shows">
          Broadway.<em><span>ly<span></em>!
        </a>
      </div>
    </div>
  </div>

  <div class="container">
    <%= yield %>
  </div>
</body>
</html>