<h2>Add a new Show</h2>

<form action="/shows" method="POST">
  <label>
    Show title: <input type="text" name="title" placeholder="Bye Bye Birdie"/>
  </label>
  <label>
    Year: <input type="text" name="year" placeholder="1960"/>
  </label>
  <label>
    Composer: <input type="text" name="composer" placeholder="Charles Strouse"/>
  </label>
  <label>
    Image link: <input type="text" name="image_url" placeholder="bit.ly/img_url"/>
  <label>
  <button>Add Show</button>
</form>