<% @shows.each do |show| %>
  <p><% show.title %></p>
<% end %>

<p>Create a <a href="shows/new"></a>new show</p>


3. View a particular show & link create a new song
4. Form to create new song
5. List all songs from a show
6. Individual song page