<h2>Add a new Song</h2>

<form action="/shows/<%= @id %>/songs" method="POST">
  <label>
    Song title: <input type="text" name="title" placeholder="Defying Gravity"/>
  </label>
  <label>
    Youtube link: <input type="text" name="youtube_link" placeholder="youtu.be/sweet"/>
  <label>
  <!-- Probably unnecessary, but just in case for now: -->
  <input type="hidden" name="show_id" value="<%= @id %>"/>
  <button>Add Song!</button>
</form>